name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.system }})

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            system: x86_64-linux
          - os: ubuntu-24.04-arm
            system: aarch64-linux

    runs-on: ${{ matrix.os }}

    steps:
      # https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
      - name: Clear disk space
        run: |
          df -h

          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

          df -h

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20
        with:
          determinate: true
          diagnostic-endpoint: ""

      - name: Print Nix version
        run: |
          nix --version

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: getchoo
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

        # Only required for building Lix
        # TODO: Remove after https://git.lix.systems/lix-project/lix/issues/545 is fixed
      - name: Loosen AppArmor Restrictions
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Run flake checks
        run: |
          nix flake check \
            --accept-flake-config \
            --print-build-logs \
            --show-trace

  build-gate:
    name: Build gate

    if: ${{ always() }}
    needs: [ build ]

    runs-on: ubuntu-24.04-arm

    steps:
      - name: Exit with error
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: |
          exit 1
